**/bin/
**/obj/
/data/
dist/
.vs/
*.user
*.suo
node_modules/
desktop/dist/
desktop/release/
狩技MOD盒子.exe
_extract/
src/MHSeries.ModManager/Data/Equipment/*.list.txt
sample.exe
.workbuddy/
.zcode/
.zcodeignore
example_mod/
